/*---------- Sass Variabler ----------*/
$dark_green: #8db596;
$light_green: #bedbbb;
$light_brown: #92807a;
$dark_brown: #707070;

$text_dark: #1e1e1e;
$text_light: #ededed;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index_background {
    background-color: $dark_green;
}

body {
    font-size: 100%;
    height: 100%;
}

html {
    height: 100%;
}

p {
    font-family: calibri;
    font-size: 12px;
    color: #1e1e1e;
}

/* -------------------------------------------------- */
/* ---------------- navigation ---------------------- */
.logo_nav_img {
    position: absolute;
    right: 5px;
    width: 170px;
}
a {
    color: #29375a;
    display: block;
    font-weight: lighter;

    letter-spacing: 2px;
    text-transform: uppercase;
}
header {
    background-color: #ededed;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    z-index: 3;
}
header ul {
    background-color: #f5f5f5;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
header li a {
    padding: 20px 20px;
    text-decoration: none;
}
header li a:hover,
header .menu-btn:hover {
    background-color: #f4f4f4;
}
header .logo {
    display: block;
    float: left;
    padding: 5px 0 5px 20px;
    text-decoration: none;
}
header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
header .menu-icon {
    cursor: pointer;
    display: inline-block;
    margin-top: 28px;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
header .menu-icon .navicon {
    background: #29375a;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}
header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
    background: #29375a;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}
header .menu-icon .navicon:before {
    top: 5px;
}
header .menu-icon .navicon:after {
    top: -5px;
}
header .menu-btn {
    display: none;
}
header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
/* -------------------------------------------------- */
/* --------------------Main - forside---------------- */
main {
    background-color: $dark_green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    font-weight: 100;
    font-family: abel;
    color: $text_light;
    padding-top: 100px;
    text-align: center;
}

.flexbox_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.new_resident_h2,
.current_resident_h2 {
    font-size: 20px;
    font-weight: 100;
    font-family: abel;
    text-align: center;
    color: $text_light;
    padding: 20px 0 10px 0;
}

.new_resident_img,
.current_resident_img {
    width: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.current_resident_img {
    margin-bottom: 50px;
}

/* ------------------------------------------------- */
/* ---------------- Footer -------
footer {
    background: #8db596;
    height: 92px;
    margin-top: -1px;
}------------------- */

/* ------ tlf.  ------ */

/* ------ ipad og tablets ------ */
@media screen and (min-width: 672px) and (max-width: 950px) {
    /* --------------------Main - forside---------------- */

    .logo_nav {
        left: 5px;
    }

    main {
        height: 100%;
        justify-content: center;
    }

    .flexbox_profile {
        flex-direction: row;
        justify-content: space-evenly;
    }

    h1 {
        padding-top: 0;
    }

    .new_resident_h2,
    .current_resident_h2 {
        font-size: 25px;
    }

    .new_resident_img,
    .current_resident_img {
        width: 300px;
    }

    .current_resident_img {
        margin-bottom: 0;
    }
    /* -------------------------------------------------- */
}

/* ------- desktop -------- */
@media screen and(min-width: 951px) {
    /* --------------------Main - forside---------------- */

    .logo_nav_img {
        left: 5px;
    }

    main {
        height: 100%;
        justify-content: center;
    }

    .flexbox_profile {
        flex-direction: row;
        justify-content: space-evenly;
    }

    h1 {
        padding-top: 0;
        font-size: 3.5em;
    }

    .new_resident_h2,
    .current_resident_h2 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .new_resident_img,
    .current_resident_img {
        width: 400px;
        transition: transform 0.2s;
        margin: 0;
    }

    .current_resident_img:hover {
        transform: scale(1.1);
        margin: 0;
    }

    .new_resident_img:hover {
        transform: scale(1.1);
        margin: 0;
    }
    /* -------------------------------------------------- */
}
