/*---------- Sass Variabler --------- */
$dark_green: #8db596;
$light_green: #bedbbb;
$light_brown: #92807a;
$dark_brown: #707070;
$text_dark: #1e1e1e;
$text_light: #ededed;
/*----------------------------------- */
/*------------ general -------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
}

p {
    font-family: calibri;
    font-size: 14px;
    color: #1e1e1e;
}
.layer {
    height: 90px;
    width: 100%;
}
h1 {
    font-size: 2.5em;
    font-weight: 100;
    font-family: abel;
    color: $text_light;
    padding-top: 100px;
    text-align: center;
}
h2 {
    font-family: abel;
    font-size: 2.5em;
}
h3 {
    color: $text_dark;
    display: block;
    font-weight: lighter;
    font-family: Abel;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 2px;
}
h5 {
    font-family: calibri;
    font-size: 14px;
    color: #1e1e1e;
    font-weight: bold;
    margin: 5px 0 5px 0;
}

/* ------------------------------------ */
/* ---------------- navigation -------- */
.logo_nav_img {
    position: absolute;
    right: 5px;
    width: 170px;
}
a {
    color: $text_dark;
    display: block;
    font-weight: lighter;
    font-family: Abel;
    letter-spacing: 2px;
}
header {
    background-color: $text_light;
    position: absolute;
    width: 100%;
    height: 90px;
    z-index: 3;
}
header ul {
    background-color: $text_light;

    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 90px;
    width: 100%;
}
header li a {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}
header li a:hover,
header .menu-btn:hover {
    color: $dark_green;
}
header .logo {
    display: block;
    float: left;
    padding: 5px 0 5px 20px;
    text-decoration: none;
}
header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    background-color: $text_light;
}
header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}
header .menu-icon .navicon {
    background: $dark_green;
    display: block;
    height: 3px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 28px;
}
header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
    background: $dark_green;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}
header .menu-icon .navicon:before {
    top: 10px;
}
header .menu-icon .navicon:after {
    top: -10px;
}
header .menu-btn {
    display: none;
}
header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

header .menu-icon_white .navicon_white {
    background: $text_light;
}
.opslagstavle_header {
    background-color: $dark_green !important;
}

header .menu-icon_white .navicon_white:before,
header .menu-icon_white .navicon_white:after {
    background: $text_light !important;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

header .menu_white {
    background-color: $dark_green !important;
}

.opslagstavle_header li a {
    display: flex;
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
/* ------------------------------------ */
/* ------------- main index ----------- */
.index_header {
    background-color: $dark_green;
}
.index_background {
    background-color: $dark_green;
}
.index_main {
    background-color: $dark_green;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.flexbox_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.new_resident_h2,
.current_resident_h2 {
    font-size: 20px;
    font-weight: 100;
    font-family: abel;
    text-align: center;
    color: $text_light;
    padding: 20px 0 10px 0;
}
.new_resident_img,
.current_resident_img {
    width: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.current_resident_img {
    margin-bottom: 50px;
}

/* ---- main beboer opslagstavle ------ */
.opslagstavle_background {
    background-color: $text_light;
}

.opslagstavle_section {
    background-color: white;
    margin: 2%;
    width: 96%;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

.opslagstavle_section ::-webkit-scrollbar {
    width: 12px;
    background: red;
    background-color: royalblue;
}

.opslagstavle_section ::-webkit-scrollbar-button {
    width: 12px;
    height: 12px;
    position: absolute;
    background: red;
    background-color: royalblue;
}

.heading-box {
    background-color: $dark_green;
    color: $text_light;
    border-radius: 20px;
    font-family: abel;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    margin: 30px 2% 20px 2%;
    width: 96%;
}

.borderline {
    height: 2px;
    background-color: $dark_green;
    width: 100%;
    margin: 5px 0 15px 0;
}

.user_profile_img {
    width: 30px;
    height: 30px;
}

.logout_img {
    width: 30px;
    height: 30px;
}

.opslagstavle_section_ul {
    background-color: white;
    margin: 2%;
    width: 96%;
    padding: 10px;
}

.opslagstavle_menu_text {
    align-items: center;
}

.opslagstavle_text,
.opslagstavle_ul {
    margin: 10px 0 10px 0;
}

.opslagstavle_ul {
    font-family: calibri;
    font-size: 12px;
    color: #1e1e1e;
    list-style-position: inside;
}

.opslagstavle_ul li {
    margin: 10px;
}

/* ------------------------------------ */
/* ---- Main kommende beboer  ------ */
.headerimg_dorm {
    height: 390px;
    background-image: url("../img/headerimg-kollegie.jpg");
    background-position: center;
    background-size: 160%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.underlay_filter {
    background-color: $dark_brown;
    height: 250px;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
    opacity: 0.5;
}

.header_dorm_h1 {
    padding: 0;
    text-transform: uppercase;
    font-size: 3.9em;
    z-index: 1;
    padding: 10px 0 25px 0;
}

.header_dorm_h2 {
    color: $text_light;
    font-family: Abel;
    font-weight: 100;
    font-size: 1.1em;
    text-align: center;
    z-index: 1;
}

.apply_btn {
    z-index: 1;
    background-color: $dark_green;
    color: $text_light;
    font-family: Abel;
    padding: 5px 32px;
    cursor: pointer;
    border: none;
    border-radius: 18px;
}

.info_dorm {
    background-color: $dark_green;
    padding: 20px 0 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "build_year apartments" "two_bed_apart one_bed_apart";
}
.build_year {
    grid-area: build_year;
}
.apartments {
    grid-area: apartments;
}
.two_bed_apart {
    grid-area: two_bed_apart;
}
.one_bed_apart {
    grid-area: one_bed_apart;
}

.info_header {
    text-align: center;
    font-family: Calibri, sans-serif;
}

.info_dorm_h2 {
    color: $dark_brown;
    padding-top: 10px;
    font-size: 2.5em;
    font-weight: bolder;
}

.info_dorm_h3 {
    color: $text_light;
    font-size: 1em;
    font-weight: 100;
}
/* ------------------------------------ */
/* -- Fact Section - Kommende beboere-- */
.fact_header,
.facts_p {
    color: $dark_brown;
    text-align: center;
    font-family: Abel, sans-serif;
    font-weight: 100;
}

.facts_h3 {
    font-size: 1em;
    color: $dark_green;
    padding: 25px 0 5px 0;
}

.facts_h2 {
    font-size: 2.5em;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.facts_line {
    height: 2px;
    width: 30%;
    background-color: $dark_green;
    margin: 0 auto;
}

.facts_p {
    font-size: 0.8em;
    padding: 20px 40px 50px 40px;
}

/* ------------------------------------ */
/* ----------- Om Fællesskabet -------- */

.community {
    background-image: url(../img/bagground-forside-beboer.jpg);
    background-size: 250%;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}

.community_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.community_header {
    text-align: left;
    font-family: Abel, sans-serif;
}

.community_h2 {
    text-transform: uppercase;
    color: $text_light;
    font-size: 2.5em;
    padding-bottom: 10px;
}

.community_h3 {
    font-size: 1em;
    color: $dark_green;
    padding: 20px 0 5px 0;
}

.community_line {
    height: 2px;
    width: 35%;
    background-color: $dark_green;
}

.community_p {
    font-size: 0.8em;
    color: $text_light;
    padding: 30px 0 30px 0;
}

.community_img {
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}

/*---- Området ----*/
#map {
    width: 800px;
    height: 800px;
    margin: auto;
}
/*-----------------*/

/* ------------------------------------ */
/* ---------------- footer ------------ */
footer {
    background: #8db596;
    height: 100px;
    width: 100%;
    margin-top: -1px;
    padding: 30px 20px 0 20px;
}
.footer_text {
    font-family: abel;
    color: $text_light;
    text-align: center;
    font-size: 15px;
}
/* ------------------------------------ */
/* --- mediaquery ipad og tablets ----- */
@media screen and (min-width: 672px) and (max-width: 950px) {
    /* --- main index (ipad og tablets) --- */
    .logo_nav_img {
        left: 5px;
    }
    .logo_nav_img {
        position: relative;
    }
    .index_main {
        justify-content: center;
        height: 100vh;
    }
    .flexbox_profile {
        flex-direction: row;
        justify-content: space-evenly;
    }
    h1 {
        padding-top: 0;
    }
    .new_resident_h2,
    .current_resident_h2 {
        font-size: 25px;
    }
    .new_resident_img,
    .current_resident_img {
        width: 300px;
    }
    .current_resident_img {
        margin-bottom: 0;
    }
    /* ------------------------------------ */
    /* --- navigation (ipad og tablets) --- */
    header li {
        float: left;
    }
    header li a {
        padding-left: 10px;
        font-size: 18px;
    }
    header .menu {
        clear: none;
        float: right;
        max-height: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-36%);
        background-color: transparent;
    }
    header .menu-icon {
        display: none;
    }
    header ul {
        width: auto;
    }
    .logo_nav {
        float: left;
    }
    .last_child {
        padding-right: 5px;
    }
    /* --Kommende beboer-- */
    .headerimg_dorm {
        height: 790px;
    }

    .underlay_filter {
        top: 300px;
        height: 400px;
        width: 300px;
    }

    .header_dorm_h2 {
        font-size: 2em;
    }
    .header_dorm_h1 {
        font-size: 5.5em;
        font-weight: 900;
    }

    .apply_btn {
        padding: 10px 35px;
        font-size: 1.5em;
    }

    /*--- Info Section ---*/

    .grid-container {
        display: flex;
        justify-content: space-evenly;
    }

    .info_dorm_h2 {
        font-size: 3em;
    }

    .info_dorm_h3 {
        font-size: 1.5em;
    }
    /*--- Fact Section ---*/
    .facts_h3 {
        font-size: 1.5em;
    }

    .facts_h2 {
        font-size: 3em;
    }

    .facts_line {
        width: 20%;
    }

    .facts_p {
        font-size: 1em;
    }
    /*--- community ---*/
    .community {
        height: 500px;
        display: flex;
        align-items: center;
    }

    .community_h3 {
        font-size: 1.7em;
        padding-top: 0;
    }
    .community_h2 {
        font-size: 3.2em;
    }
    .community_line {
        width: 25%;
        margin: 0;
    }
    .community_p {
        font-size: 1.1em;
        padding-bottom: 0;
    }
    /*
    .community_img {
        height: 70%;
        width: 100%;
    }

    .community_container {
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .community_container div {
        width: 40%;
        margin: auto;
    }

    .text_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .community_img {
        padding: 0;
    }
    */
    .community_img {
        object-fit: cover;
        padding: 0;
    }

    .community_container {
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .text_wrapper {
        display: block;
        padding: 25px;
        width: 50%;
    }
    .img_wrapper {
        padding: 25px;
        width: 50%;
    }

    /* ------------------------------------ */
    /* ---- main beboer opslagstavle (ipad og tablets) ------ */
    h3 {
        font-size: 18px;
    }

    /* ------------------------------------ */

    /* ------------------------------------ */
    /* --- footer (ipad og tablets) ------- */
    footer {
        padding: 40px 20px 0 20px;
        height: 200px;
    }
}
/* ------------------------------------ */
/* ------ mediaquery desktop ---------- */
@media screen and(min-width: 951px) {
    /* ------- main index (desktop)-------- */
    .logo_nav_img {
        left: 5px;
    }
    .index_main {
        justify-content: center;
        height: 100vh;
    }
    .flexbox_profile {
        flex-direction: row;
        justify-content: space-evenly;
    }
    h1 {
        padding-top: 0;
        font-size: 3.5em;
    }
    .new_resident_h2,
    .current_resident_h2 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .new_resident_img,
    .current_resident_img {
        width: 400px;
        transition: transform 0.2s;
        margin: 0;
    }
    .current_resident_img:hover {
        transform: scale(1.1);
        margin: 0;
    }
    .new_resident_img:hover {
        transform: scale(1.1);
        margin: 0;
    }
    /* ------------------------------------ */
    /* ---- main beboer opslagstavle (desktop) ------ */
    h3 {
        font-size: 20px;
    }

    /* ------------------------------------ */
    /* ------- navigation (desktop) ------- */
    header li {
        float: left;
    }
    header li a {
        padding-left: 30px;
    }
    header .menu {
        clear: none;
        float: right;
        max-height: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-36%);
    }
    header .menu-icon {
        display: none;
    }
    header ul {
        width: auto;
    }
    .logo_nav {
        float: left;
    }
    .last_child {
        padding-right: 5px;
    }
    /* --Kommende beboer-- */
    /* --Kommende beboer-- */
    .headerimg_dorm {
        height: 1000px;
        background-size: cover;
    }

    .underlay_filter {
        top: 400px;
        height: 500px;
        width: 320px;
    }

    .header_dorm_h2 {
        font-size: 2.5em;
    }
    .header_dorm_h1 {
        font-size: 6em;
        font-weight: 900;
    }

    .apply_btn {
        padding: 10px 35px;
        font-size: 1.5em;
    }

    /*--- Info Section ---*/

    .grid-container {
        display: flex;
        justify-content: space-evenly;
    }

    .info_dorm_h2 {
        font-size: 3em;
    }

    .info_dorm_h3 {
        font-size: 1.5em;
    }
    /*--- Fact Section ---*/

    .facts_h3 {
        font-size: 2em;
    }

    .facts_h2 {
        font-size: 3.5em;
    }

    .facts_line {
        width: 10%;
    }

    .facts_p {
        font-size: 1.5em;
        padding: 20px 80px 50px 80px;
    }
    /*--- community ---*/
    .community {
        height: 700px;
        display: flex;
        align-items: center;
    }

    .community_h3 {
        font-size: 2.3em;
        padding: 0;
        margin: 0;
    }
    .community_h2 {
        font-size: 3.7em;
    }
    .community_line {
        width: 40%;
        padding: 0;
    }
    .community_p {
        font-size: 1.6em;
        padding-bottom: 0;
    }

    .community_img {
        object-fit: cover;
        padding: 0;
    }

    .community_container {
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .text_wrapper {
        display: block;
        padding: 50px;
        width: 40%;
    }
    .img_wrapper {
        padding: 50px;
        width: 50%;
    }

    /* ------------------------------------ */

    /* ------------------------------------ */
    /* ---------- footer (desktop) -------- */
    footer {
        padding: 40px 20px 0 20px;
    }
}
/* ------------------------------------ */
